body {
	font-family: 'Raleway';
	font-size: 21px;
	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4 , h5 ,h6 {
	padding: 0;
	margin: 0;
}

nav {
	padding-top: 24px;
	background-color: #FFFFFF;
}

nav a {
	text-decoration: none;
	color: #555555;
	font-size: 17px;
}

nav ul {
	list-style-type: none;
}

nav ul {
	padding: 0;
	margin: 0;
}

.top {
	display: flex;
}

.logo {
	margin-right: 1161px;
	padding-left: 148px;
}

.login {
	display: block;
	margin-right: 32px;
	margin-top: 8px; 
}

.bot {
	display: flex;
	margin-left: 108px;
	margin-top: 8px;
}

.navleft {
	margin-left: 40px;
	margin-right: 64px;
}

.login {
	color: #111111;
	font-weight: bold;
}

.diver {
	margin-left: 0;
	padding: 0;
}

.background {
	position: relative;
	background-size: 1920px;
	width: 100%;
}

.caption1 {
	color: #FFFFFF;
	top: 384px;
	left: 810px;
	position: absolute;
	letter-spacing: 0.2em;
	font-weight: lighter;
	font-size: 15px;
	/*color: #FFFFFF; */
}

.caption2 {
	color: #FFFFFF;
	top: 450px;
	left: 481px;
	margin: 0px;
	position: absolute;
	font-weight: bold;
	font-size: 89px;
	/*color: #FFFFFF; */
}

.caption3 {
	color: #FFFFFF;
	top: 584px;
	left: 663px;
	margin: 0px;
	position: absolute;
	font-style: normal;
	font-size: 21px;
	/*color: #FFFFFF; */
}

.caption4 {
	color: #FFFFFF;
	top: 613px;
	left: 742px;
	margin: 0px;
	position: absolute;
	font-style: normal;
	font-size: 21px;
	/*color: #FFFFFF; */
}

.seccaption1 {
	color: #111111;
	top: 1051px;
	left: 451px;
	margin: 0px;
	position: absolute;
	font-weight: 600;
	font-size: 55px;
}

.seccaption2 {
	color: #111111;
	top: 1132px;
	left: 754px;
	margin: 0px;
	position: absolute;
	font-size: 21px;
}

.cards {
	top: 1221px;
	left: 254px;
	margin: 0px;
	position: absolute;
}

.tricaption1 {
	color: #111111;
	top: 1968px;
	left: 815px;
	margin: 0px;
	position: absolute;
	font-weight: bold;
	font-size: 55px;
}


.tricaption2 {
	color: #111111;
	top: 2052px;
	left: 698px;
	margin: 0px;
	position: absolute;
	font-size: 21px;
}

.categor {
	top: 2141px;
	left: 148px;
	margin: 0px;
	position: absolute;
}

.button {
	top: 3013px;
	left: 825px;
	margin: 0px;
	position: absolute;
}

.quadcaption1 {
	color: #111111;
	top: 3255px;
	left: 472px;
	margin: 0px;
	position: absolute;
	font-size: 55px;
}

.quadcaption2 {
	color: #111111;
	top: 3336px;
	left: 646px;
	margin: 0px;
	position: absolute;
	font-size: 21px;
}

.logos {
	top: 3425px;
	left: 473px;
	margin: 0px;
	position: absolute;
}

.footer {
	top: 3737px;
	margin: 0px;
	position: absolute;
}

.footer1 {
	color: #FFFFFF;
	top: 3772px;
	left: 286px;
	margin: 0px;
	position: absolute;
	font-size: 21px;
}

.footer2 {
	color: #FFFFFF;
	top: 3772px;
	left: 562px;
	margin: 0px;
	position: absolute;
	font-size: 21px;
}

.footer_im2 {
	top: 3813px;
	left: 286px;
	margin: 0px;
	position: absolute;
}

.footer_im3 {
	top: 3772px;
	left: 1336px;
	margin: 0px;
	position: absolute;	
}
/*footer {
	background-color: #111111;
}*/